h1 {
    /* font-family: 'Roboto', sans-serif; */
    color:rgb(8, 96, 34);
}

h2 {
    color:rgb(8, 96, 34);
}

.App-Background {
    background-color: #008037 !important;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.white {
    color: white;
}

.flex {
    display: flex;
}

.italics {
    font-family: 'Roboto', sans-serif;
}

.upper-alpha {
    list-style-type: upper-alpha;
}

.imgflex {
    display: flex;
}

.indent {
    margin-left: 6.6%;
}

h6 {
    font-weight: bold;
}

.team {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 4%;
}

.hoftitle {
    margin: auto;
    width: 30%;
    color: #008037;
    padding-top: 190px;
}

.hoftitle > h1 {
    font-family: 'Abyssinica SIL', serif;
    font-weight: bold;
    font-size: 50px;
}

.review {
    display: inline-block;
    color: #008037;
    font-size: 40px;
}

.inline {
    display: inline-block;
    color: #008037;
    margin-left: .5%;
}

.studrev {
    text-align: justify;
    line-height: 1.7em;
    margin-right: 5%;
    
}

.padleft {
    padding-left: 5%;
}


.drrev {
    background-color: #c2dcc8;
}

.drjash {
    margin: 20% 10% 5% 5%;
    width: auto;
    height: 600px;
}

.drjashrev {
    background-color: #c2dcc8;
    padding-top: 3%;
}

.drshik {
    margin: auto;
    margin-top: 13%;
    width: 80%;
    height: 80%;
}

.drkat {
    margin: auto;
    margin-top: 15%;
    width: auto;
    height: 600px;
}

.drchef {
    margin: auto;
    margin-top: 14%;
    margin-right: 8%;
    width: auto;
    height: 600px;
}

.drjuan {
    margin: 4% 5% 5% 5%;
    width: auto;
    height: 550px;
}

.drparo {
    margin: auto;
    margin-top: 19%;
    width: auto;
    height: 650px;
}

.drprad {
    margin: auto;
    margin-top: 10%;
    margin-right: 5%;
    width: auto;
    height: 600px;
}

.drpradrev {
    background-color: #c2dcc8;
    padding-top: 3%;
    padding-bottom: 3%;
}

.drfatima {
    margin: auto;
    margin-top: 7%;
    margin-right: 3%;
    width: auto;
    height: 540px;
}

.drfatimarev {
    padding-top: 2%;
    padding-bottom: 2%;
}

.drkim {
    margin: auto;
    width: auto;
    height: 500px;
}

.drkimrev {
    padding-bottom: 5%;
}

.drcesar {
    margin: auto;
    margin-top: 10%;
    width: auto;
    height: 540px;
}

.drcesarrev {
    padding-bottom: 3.5%;
    padding-top: 3%;
}

.reviewtitle {
    margin-top: 4%;
}

.drmonica {
    margin: auto;
    margin-bottom: 8%;
    width: auto;
    height: 560px;
}

.drmonicarev {
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 2%;
}

.drronald {
    margin: auto;
    width: auto;
    height: 540px;
}

.drronrev {
    padding-top: 2%;
    padding-bottom: 3%;
}

.drpari {
    margin: auto;
    width: auto;
    height: 540px; 
}

.drbavrev {
    padding-bottom: 4%;
}

.drharpreet {
    margin: auto;
    width: auto;
    height: 540px;
}
.drharprev {
    padding-top: 3%;
    padding-bottom: 5%;
}

.drclint {
    margin: auto;
    margin-top: 15%;
    width: auto;
    height: 540px;
}

.drclintrev {
    padding-bottom: 5%;
}

.rotationcontent {
    margin-left: auto;
    margin-right: auto;
}
 
.collapsible {
    background-color: #008037;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  } 

  .active, .collapsible:hover {
    opacity: 0.8;
  }


.infohead {
    display: flex;
    justify-content:    -between;
    align-items: center;
}

.contactus {
    display: block;
    text-align: left;
    margin-left: 22%;
}

.contus {
    font-weight: bold;
    color: #008037;
}

.socialinsta {
    display: block;
    text-align: left;
    margin-right: 18%;
}

.drdavidimg {
    width: 90%;
    margin-left: 10%;
  }

.dctitle > div > div {
    padding-left: 2%;
    padding-top: 2%;
}

.dctitle {
    width: 70%;
    margin: auto;
}

.dcwho {
    text-align: center;
}

.dccontent {
    width: 100%;
    background-color: #c2dcc8;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding: 1% 0 0.5% 1%;
    text-align: left;
    line-height: 1;
}

.drtitle {
    margin-right: 0.5%;
    margin-top: -0.7%;
}

.mededu {
    padding-top: 2.5%;
}

.staffpos {
    padding: 2% 0 0 0;
}

.staffpos > ul {
    list-style-type: decimal;
}

.atn {
    display: flex;
}

.atn > h6 {
    font-weight: bold;
}

.atn > p {
    padding: .4% 1%;
}

.consult {
    display: flex;
}

.consult > p {
    padding: .4% 1%;
}


.stafflist {
    margin-left: 1.5%;
}

.titleof {
    width: 70%;
    margin: auto;
    
}

.backrotate {
    text-align: center;
}

.privateprac {
    line-height: 2;
}

.saintanth {
    margin-top: -2%;
}

.dcexp {
    line-height: 1;
    margin-top: 2.5%;
}




.hr {
    border: 1px solid rgb(0, 0, 0);
    width: 101.9%;
    margin-left: -.8%;
}


.chicagoneuro {
    font-weight: bold;
}

.hrblock {
    border: 1px solid black;
    width: 70%;
    margin: auto;
}


.schedulecont {
    background-color: #c2dcc8;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 1% 0% 2%;
}

.sched {
    padding: 0.3%;
    width: 100%;
    text-align: center;
}

.schedule > div {
    text-align: left;
}

.schedulecont > div {
    margin-top: 2%;
}

.mondaycont {
    padding-left: 4.3em;
    margin-right: 1%;
}

.tuesdaycont {
    padding-left: 4.5em;
    margin-right: 1%;
}

.wednesdaycont {
    padding-left: 1.5em;
    margin-right: 1%;
}

.thursdaycont {
    padding-left: 3.1em;
    margin-right: 1%;
}

.fridaycont {
    padding-left: 6.2em;
    margin-right: 1%;
}


.saturdaycont {
    padding-left: 3.4em;
    margin-right: 1%;
}


.addresscont {
    text-align: left;
    margin-top: 3%;
}

.outpat {
    display: flex;
    margin-left: 5%;

}

.silvercont {
    display: flex;
    margin-left: 5%;
}

.addcont {
    margin-left: 1%;
}

.backgroundcont {
    width: 100%;
    margin: 0 0 0 0;
}

.backofrotate {
    padding: 2% 2% 0 2%;
    text-align: left;
}



.backgroundcont > div > h2 {
    text-align: center;
}

.evalsection {
    width: 70%;
    margin: auto;
    
}

.expectcont {
    text-align: left;
    padding: 0.7% 0 0 0;
}

.responsetitle {
    background-color: #008037;
    text-align: center;
    width: 68%;
    margin-left: -4%;
}

.responsetitle > h2 {
    color: white;
    padding: 0.9%;
    
}

.backexpectcont {
    background-color: #c2dcc8;
    padding: 0 1% 1% 0;

}

.medprofs {
    padding: 1% 0 0 1%;
}

.posteval {
    font-size: 31px;
    text-align: center;
}

.evaluate {
    padding: 2% 0% 1% 2%;
    background-color: #c2dcc8
}

.listtitle {
    text-align: left;
}

.evallist {
    display: flex;
    text-align: left;

    
}

.evalinfo {
    text-align: left;
}

.evaltitle {
    justify-content: center;
    align-items: center;
}


.afaq {
    color: white;
    font-size: 200%;
    
}

.adfaqstitle {
    width: 70%;
    margin: auto;
}

.addit {
    background-color: #008037;
    text-align: center;
}

.faqcont {
    background-color: #c2dcc8;
    width: 70%;
    margin: auto;
    text-align: left;
    padding-left: 1%;
    padding-top: 1%;
}

.faqcont > div > p {
    line-height: 2;
}

.faqanswers {
    padding-top: 1%;
    padding-right: 1%;
}


.steps {
    width: 70%;
    margin: auto;
}

.appsteps {
    color: white;
    text-align: center;
}

.stepscont {
    background-color: #c2dcc8;
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 0.1%;
}


.available {
    margin-left: 2%;
}

.startdate {
    margin-right: 9%;
}

.lastdate {
    margin-right: -2.5%;
}

.gridspots {
    display: none;
    overflow: hidden;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
    grid-auto-rows: 10% 10% 10% 10%, 15;
    margin: auto;
 }
 

 .gridspots > div > h5 {
    background-color: #c2dcc8;
 }

.silverdet {
    margin-left: 10%;
}


.taleft {
    text-align: left;
}

.tr1 {
    background-color: #b2ffd3;
    width: 25%;
}

.tr2 {
    background-color: #4cc681;
    width: 25%;
}

.tr3 {
    background-color: #008037;
    width: 25%;
}

.servicescontainer {
    margin: auto;
}

.neurotitle {
    margin-bottom: 2%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.neurotitle > h5 {
    font-weight: 400;
}

.rulestitle {
    margin-bottom: 1%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.rulestitle > h5 {
    font-weight: 400;
}

.packagepay {
    width: 60%;
    margin: auto;
    text-align: left;
}

.neuropackslist {
    list-style-type: decimal;
}

.neuropackslist > li {
    margin-bottom: 3%;
}

.installments {
    margin-left: 10%;
}

.installments > h5 {
    font-weight: 400;
}

.packagetable {
    margin-top: 3%;
    line-height: 3em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.tableheader {
    font-size: 25px;
    font-weight: 400;
}

.packagetable > tr > td {
    border-width: thin;
    border-color: black;
}

.packagetable > tr > th {
    border-width: thin;
    border-color: black;
}

.summarytitle > h2 {
    font-size: 45px;
    font-family: 'Playfair Display', serif;
}

.packagesummary {
    margin-top: 5%;
    margin-bottom: 3%;
}

.packagesummary > p {
    text-align: left;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}


.packagesummary > h5 {
    background-color: #4cc681;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
}

.instalink {
    color: blue;
}

.instalink:hover {
    color: rgb(121, 199, 255);
}

.mandatory {
    text-decoration: underline;
    margin-left: 0.5%;
}

.essentials {
    display: flex;
    justify-content: center;
    margin-bottom: -1%;
}

.fivesteps {
    text-align: left;
    padding-left: 2%;
}

.steplist {
    list-style-type: decimal;
    font-weight: bold;
}

.stepall {
    display: flex;
    margin-top: 2%;
}

.step1title {
    margin-top: 0.2%;
}

.step1cont {
    width: 60%;
    margin-left: 1%;
    font-weight: normal;
}

.firsttake {
    margin-top: -3%;
}

.optional {
    font-weight: normal;
}

.stepcontent {
    background-color: #c2dcc8;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 1% 0.5% 1%;
}

.stepalign {
    margin-top: 1.5%;
}

.secondalign {
    margin-top: 1.5%;
    margin-bottom: -2%;
    line-height: 2;
}

.secondstep {
    margin-top: -.1%;
}

.secondsteptitle {
    padding-top: 2%;
}

.requiredlist {
    text-align: left;
    list-style-type: decimal;
    font-weight: bold;
}

.secreq {
    margin-top: 2%;
}

.secndary {
    font-weight: bold;
}

.mhi {
    font-weight: 400;
    font-family: 'Roboto', 'sans-serif';
}

.thirdcont {
    line-height: 2;
}

.thirdsteptitle {
    padding-top: 2%;
}

.fourthlist {
    margin-top: 2.8%;
    padding: 0 1% .5% 6%;
}

.fifthstep {
    padding-top: 3%;
}

.fifthalign {
    text-align: center;
    padding: 1.5% 0 2% 0;
    line-height: 1;
}

.userform {
    width: 25%;
  }

.regbutton {
    box-sizing: content-box;
}

.grid-container {
    width: 1296px;
    margin-left: 10.5%;
}


.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
}



/* COLUMN 1 */


.c-1 {
    grid-column: 1;
    grid-row: 1;
    padding-top: 15px;
    margin-top: 51px;
    width: 101%;
    height: 50%;
    font-weight: bold;
}

.c-1-1 {
    grid-column: 1;
    grid-row: 2;
    border: 2px solid black;
    padding-top: 10%;
    width: 101%;
    height: 60%;
    font-size: 15px;
}

.c-1-2 {
    grid-column: 1;
    grid-row: 3;
    border: 2px solid black;
    padding-top: 20px;
    margin-top: -31%;
    width: 101%;
    height: 80%;
    font-size: 15px;
}

.c-1-3 {
    grid-column: 1;
    grid-row: 4;
    border: 2px solid black;
    padding-top: 20px;
    margin-top: -88px;
    width: 101%;
    height: 79%;
    font-size: 15px;
}



/* COLUMN 2 */



.c-2 {
    grid-column: 2;
    grid-row: 1;
    border: 2px solid black;
    padding-top: 15px;
    margin-top: 51px;
    width: 70%;
    height: 50%;
    font-weight: bold;
    
}

.c-2-1 {
    grid-column: 2;
    grid-row: 2;
    border: 2px solid black;
    padding-top: 40%;
    width: 70%;
    height: 156%;
    
}



/* COLUMN 3 */



.c-3 {
    grid-column: 3;
    grid-row: 1;
    border: 2px solid black;
    padding-top: 15px;
    margin-top: 51px;
    margin-left: -66px;
    width: 71%;
    height: 50%;
    font-weight: bold;
}

.c-3-1 {
    grid-column: 3;
    grid-row: 2;
    border: 2px solid black;
    padding-top: 40%;
    margin-left: -66px;
    width: 71%;
    height: 156%;
}



/* COLUMN 4 */



.c-4 {
    grid-column: 4;
    grid-row: 1;
    border: 2px solid black;
    padding-top: 15px;
    margin-top: 51px;
    margin-left: -130px;
    width: 71%;
    height: 50%;
    font-weight: bold;
}

.c-4-1 {
    grid-column: 4;
    grid-row: 2;
    border: 2px solid black;
    padding-top: 15px;
    margin-left: -130px;
    width: 71%;
    height: 156%;
}



/*  COLUMN 5 */



.c-5 {
    grid-column: 5;
    grid-row: 1;
    border: 2px solid black;
    padding-top: 15px;
    margin-top: 51px;
    margin-left: -194px;
    width: 71%;
    height: 50%;
    font-weight: bold;
}

.c-5-1 {
    grid-column: 5;
    grid-row: 2;
    border: 2px solid black;
    padding-top: 15px;
    margin-left: -194px;
    width: 71%;
    height: 50%;
}

.c-5-2 {
    grid-column: 5;
    grid-row: 3;
    border: 2px solid black;
    padding-top: 15px;
    margin-top: -83px;
    margin-left: -194px;
    width: 71%;
    height: 174%;
}




/* COLUMN 6 */



.c-6 {
    grid-column: 6;
    grid-row: 1;
    border: 2px solid black;
    padding-top: 15px;
    margin-top: 51px;
    margin-left: -258px;
    width: 101%;
    height: 50%;
    font-weight: bold;
}

.c-6-1 {
    grid-column: 6;
    grid-row: 2;
    border: 2px solid black;
    padding-top: 15px;
    margin-left: -258px;
    width: 101%;
    height: 50%;
}

.c-6-2 {
    grid-column: 6;
    grid-row: 3;
    border: 2px solid black;
    padding-top: 15px;
    margin-top: -83px;
    margin-left: -258px;
    width: 101%;
    height: 174%;
}

.optimumpack {
    background-color: #E3EFD9;
    border: 2px solid black;
    margin-bottom: 5%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.optimumpack > div {
    margin-left: 3%;
    margin-right: 3%;
}

.packagetitle {
    color: black;
    font-weight: 700;
    margin-top: 1%;
}

.boosterpack > div > h2 {
    color: rgb(175, 175, 175);
}

.boosterpack {
    background-color: #5B8F3C;
    border: 2px solid black;
    margin-bottom: 5%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.boosterpack > div {
    margin-left: 3%;
    margin-right: 3%;
    color: white;
}

.clothelink > a {
    color: rgb(154, 196, 255);
}

.clothelink > a:hover {
    color: white;
}

.sovereignpack {
    background-color: #9DF666;
    border: 2px solid black;
    margin-bottom: 5%;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.sovereignpack > div {
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
}

.lodging > p {
    margin-bottom: 0;
}

.aboutmatch {
    display: inline-block;
}

.doc {
    margin-left: 1sem;
    font-family: 'Roboto Slab', serif;
}

.docimg {
    width: 100%;
}

.profback {
    text-align: justify;
}

.fame {
    margin: 5% 0 0 0;
}

.doctitle {
    line-height: 3em;
    width: 70%;
    margin: auto;
}

.matched {
    line-height: 1.7em;
    font-family: 'Montserrat', sans-serif;
}


.chatroom {
    font-family: 'Poppins', sans-serif;
    margin-top: 20%;
}

.pagein {
    font-size: 100px;
    color: black !important;
}

.chatlink {
    font-size: 60px;
    color: black !important;
    
}

.services {
    font-family: 'Abyssinica SIL', serif;
    font-size: 50px;
    font-weight: 800;
    margin-top: 13.5%;
}

.here {
    color: black;
}

.here:hover {
    color: #008037;
}

.hammer {
    font-size: 100px;
    color: black;
}

.backtotop {
    color: #008037;
}

.scheduletable {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  line-height: 3em;
  width: 70%;
}


.sumsched {
    width: 70%;
    margin: auto;
}

.schedtitle {
    text-align: center;
}


.scheduleheader {
    width: 10%;
    border: 2px solid black;
}

.r2t2 {
    width: 11%;
    border: 2px solid black;
    line-height: 1.5em;
}

.r2black {
    width: 11%;
    border: 2px solid black;
    background-color: black;
    line-height: 1.5em;
}

.r3t1 {
    width: 11%;
    border: 2px solid black;
    line-height: 1.5em;
}


.visastat {
    font-size: 20px;
    margin-right: 2%;
}

.visaform {
    text-align: left;
    margin-left: 1%;
    margin-top: 9%;
}



 /* MEDIA QUERIES */


@media screen and (max-width: 1499px) {
    .footerabout {
        width: 90%;
    }
}

@media screen and (max-width: 1431px) {
    .usce {
        margin-left: 20%;
    }
    
}


  @media screen and (max-width: 1400px) {
    .grid-container {
        width: 896px;
        margin-left: 5%;
    }
    .grid {
        grid-template-columns: 24% 24% 24% 24% 24% 22%;
    }
  }

  @media screen and (max-width: 1400px) {
    .profback {
      width: auto;
  
    }
  }


@media screen and (max-width: 1399px) {
    .evalsection {
        width: 80%;    
    }
    .evaltitle {
        width: 80%;
        margin: auto;
    }
      .faqcont {
        width: 80%;    
    } 
    .scheduletable {
        width: 80%;
    }
    .contactcol {
        margin-left: 5%;
        width: 100%;
    }
    .footerabout {
        width: auto;
    }
    .bronzest {
        width: 8%;
    }
    .silverboost {
        width: 8.5%;
    }
    .goldopt {
        width: 9%;
    }

}

@media screen and (max-width: 1399px) {
    .consult {
        display: block;
    }
    /* .userform {
        width: 30%;
    }
    .infoform {
        width: 0%;
    } */
}

/* HALL OF FAME MEDIA QUERIES */

@media screen and (max-width: 1399px) {

    .drshik {
        height: auto;
        width: 80%;
    }
    .drjash {
        height: auto;
        width: 70%;
    }
    .drkat {
        height: 450px;
    }
    .drchef {
        height: 450px;
        width: auto;
        margin: auto;
    }
    .drjuan {
        height: 450px;
        width: auto;
    }
    .drprad {
        height: 450px;
        width: auto;
    }
    .drparo {
        height: 500px;
        width: auto;
    }
    .drfatima {
        width: auto;
        height: 420px;
    }
    .drcesar {
        width: auto;
        height: 420px;
    }
    .drronald {
        width: auto;
        height: 420px;
    }
    .drpari {
        width: auto;
        height: 420px;
    }
   
}

@media screen and (max-width: 1399px) {

    .dccontent {
        width: auto;
    }
    .backgroundcont {
        width: auto;
    }
    .schedulecont {
        width: auto;
    }
    .evalsection {
        width: auto;
    }
    .faqcont {
        width: auto;
    }
    .stepscont {
        width: auto;
    }
    .stepcontent {
        width: auto;
    }
    .addresscont {
        width: auto;
    }
    .rotationcontent > div > div > h2 {
        font-size: 30px;
    }
    .textinput {
        width: 27%;
    }
    .dctitle {
        width: 80%;
    }
    .titleof {
        width: 80%;
    }
    .sumsched {
        width: 80%;
    }
    .hrblock {
        width: 80%;
    }
    .adfaqstitle {
        width: 80%;
    }
    .steps {
        width: 80%;
    }
   
}

@media screen and (max-width: 1200px) {
    .grid-container {
        width: 796px;
        margin-left: -2.5%;
    }
    .grid {
        grid-template-columns: 27% 27% 27% 27% 27% 24%;
    }
  }


@media screen and (max-width: 1199px) {
    .drdavidimg {
        width: 90%;
    }
    .footerrow {
        display: flex;
        align-items: center;
    }
    .packagetable {
        line-height: 2em;
    }
    .bronzest {
        width: 9%;
    }
    .silverboost {
        width: 10%;
    }
    .goldopt {
        width: 10.5%;
    }
    .image3 {
        width: 1000px;
        height: 100px;
    }
}
    

@media screen and (max-width: 1199px) {

    .drshik {
        height: auto;
        width: 90%;
        margin: auto;
    }
    .drjash {
        height: auto;
        width: 60%;
    }
    .drkat {
        height: 450px;
        width: auto;
        margin-left: -5%;
    }
    .hrblock {
        width: auto;
    }
    .addresscont {
        width: auto;
    }
    .posteval {
        font-size: 29px;
    }
    .evalsection {
        width: auto;
    }
    .hrblock {
        width: 80%;
    }
}
    

@media screen and (max-width: 1099px) {
    .mainform {
        margin-left: auto;
        margin-right: auto;
    }
  
    
}


@media screen and (max-width: 1000px) {
    .grid-container {
        width: 396px;
        margin-left: -17%;
    }
    .grid {
        grid-template-columns: 53% 53% 53% 53% 53% 35%;
  }
}

@media screen and (max-width: 1000px) {
    .profback {
      font-size: 15px;
      width: auto;
  
    }
    .userform {
        width: auto;
    }
  }

@media screen and (max-width: 991px) {

    .reviewtitle {
        margin-top: 0;
    }
    .drshik {
        height: auto;
        width: 65%;
        margin: auto;
    }
    .drjash {
        height: auto;
        width: 50%;
    }
    .doctorreview {
        display: block
    }
    .drkat {
        height: auto;
        width: 60%;
        margin: auto;
    }
    .drchef {
        height: auto;
        width: 50%;
    }
    .drjuan {
        height: auto;
        width: 65%;
        margin: auto;
    }
    .drprad {
        height: auto;
        width: 50%;
    }
    .drparo {
        height: auto;
        width: 65%;
        margin-top: 5%;
    }
    .drfatima {
        height: auto;
        width: 50%;
    }
    .drkim {
        height: auto;
        width: 55%;
    }
    .drcesar {
        height: auto;
        width: 50%;
    }
    .drmonica {
        height: auto;
        width: 60%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .drmonicarev {
        margin-top: 7%;
    }
    .drronald {
        height: auto;
        width: 55%;
        margin-bottom: 5%;
    }
    .drpari {
        height: auto;
        width: 55%;
    }
    .drharpreet {
        height: auto;
        width: 55%;
    }
    .drclint {
        margin-top: 1%;
        height: auto;
        width: 60%;
    }
    .flex-reverse {
        display: flex;
        flex-direction: column-reverse;
    }
}


@media screen and (max-width: 991px) {
    .dccontent {
        width: auto;
        line-height: 1.5;
    }
    .drdavidimg {
        width: 100%;
        margin-left: 0%;
    }
    .atn {
        display: block;
    }
    .backgroundcont {
        width: auto;   
     }
    .schedulecont {
        width: auto;   
     }
    .evalsection {
        width: 80%;   
    }
    .faqcont {
        width: auto;  
      }
    .stepscont {
        width: auto;   
     }
    .stepcontent {
        width: auto;    
    }
    .addresscont {
        width: auto;    
    }
    .textinput {
        width: 33%;
    }
    .packagetable {
        line-height: 1.5em;
    }
    .bronzest {
        width: 12.5%;
    }
    .silverboost {
        width: 13.5%;
    }
    .goldopt {
        width: 14.5%;
    }
    .packagesummary > p {
        width: 70%;
    }
}

@media screen and (max-width: 991px) {
    .dctitle {
        width: 100%;
    }
    .titleof {
        width: 100%;
    }
    .sumsched {
        width: 100%;
    }
    .evalsection {
        width: 100%;
    }
    .evaltitle {
        width: 100%;
    }
    .adfaqstitle {
        width: 100%;
    }
    .steps {
        width: 100%;
    }
    .hrblock {
        width: 100%;
    }
    
}

@media screen and (max-width: 899px) {
    .items {
        width: 500px;
    }
    .mainform {
        display: block;
        margin-left: 37%;
    }
    .userform {
        width: 53%;
        margin-left: -5.3%;
    }
    .infoform {
        margin-top: 8%;
        width: 42.7%;
    }
    .regbutton {
        margin-top: 3%;
        margin-bottom: 3%;
        min-width: 13%;
    }
}


@media screen and (max-width: 800px) {
    .grid-container {
        width: 50%;
        margin-left: -17%;
    }
    .grid {
        grid-template-columns: 71% 71% 71% 71% 70% 70%;
  }
}

@media screen and (max-width: 784px) {
    .items {
        flex-direction: column;
        align-items: center;
        width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .socialinsta {
        margin: auto;
    }
    .contactus {
        margin: auto;
    }
    .textinput {
        width: 40%;
    }
    .evalsection {
        width: 100%;   
    }
    .scheduletable {
        width: auto;
    }
    .dctitle {
        width: 100%;
    }
    .titleof {
        width: 100%;
    }
    .hrblock {
        width: 100%;
    }
    .sumsched {
        width: 100%;
    }
    .adfaqstitle {
        width: 100%;
    }
    .steps {
        width: 100%;
    }
    .footerrow {
        flex-direction: column;
    }
    .contactcol {
        margin: auto;
        margin-top: 5%;
    }
    .footerabout {
        margin-top: 10%;
    }
    .uscefooter {
        margin-top: 5%;
    }
    .scheduletable {
        width: 100%;
        overflow-x: auto;
        overflow-y: auto;
    }
    .packagetable {
        width: 120%;
        margin-left: -10%;
    }
    .bronzest {
        width: 16.5%;
    }
    .silverboost {
        width: 18%;
    }
    .goldopt {
        width: 19%;
    }
    .packagesummary > p {
        width: 80%;
    }
    .packagesummary > h5 {
        margin-top: 7%;
        margin-bottom: 3%;
    }
    .packagesummary {
        margin-bottom: 5%;
    }

}

@media screen and (max-width: 767px) {
    .responsivetable {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

@media screen and (max-width: 760px) {
    .profback {
      font-size: 13px;
      width: auto;
    }
    .infoform {
        width: 45%;
    }
    .userform {
        width: 56%;
        
    }
  }


@media screen and (max-width: 668px) {
    .homecontainer > h1 {
        font-size: 25px;
    }
    .team > h1 {
        font-size: 25px;
    }
    .packagetable {
        width: 100%;
        margin: auto;
        line-height: 1.3em;
    }
}

@media screen and (max-width: 600px) {
    .userform {
        width: 70%;
        margin-left: -6.8%;
    }
    .infoform {
        width: 57.3%;
    }
    
}


@media screen and (max-width: 575px) {
    .scheduletable {
        width: 40%;
    }
    .bronzest {
        width: 21%;
    }
    .silverboost {
        width: 22%;
    }
    .goldopt {
        width: 23%;
    }
}

@media screen and (max-width: 400px) {
    .regbutton {
        padding-right: 5%;
    }
    .bronzest {
        width: 24%;
    }
    .silverboost {
        width: 26%;
    }
    .goldopt {
        width: 27%;
    }
    
}


