.slider {
    max-width: 1550px;
    height: 600px;
    margin: 100px auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  
  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;
  }

  @media screen and (max-width: 700px){
  .slide img {
    width: 100%;
    height: 100%;
  }
}

  .content {
    position: absolute;
    top: 23rem;
    left: 5rem;
    opacity: 0;
    width: 50%;
    color: #fff;
    padding: 3rem;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
  }

  .current .content {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease;
  }
  
  .active-anim {
    opacity: 1;
  }
  
  .btn-slide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .btn-slide img {
    width: 25px;
    height: 25px;
    pointer-events: none;
  }
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }

  .arrow {
    width: 130%;
    height: 130%;
    background-size: 90%;
    border-radius: 50%;
  }

  .arrow:hover {
    color: rgb(255, 255, 255);
    width: 160%;
    background-color: black;
  }

  hr {
    height: 2px;
    background: white;
    width: 50%;
  }