.slider {
    max-width: 1700px;
    height: 650px;
    margin: 0px auto 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .space {
    padding-top: 220px;
  }

  .socials {
    margin-top: 8.5%;
  }
  
  .text {
    font-size: 50px; 
    margin-bottom: 10%; 
  }

  .text2 {
    margin-top: 20%;
    color: white;
    text-shadow: 2px 2px black;
  }

  .text3 {
    margin-top: -43%;
    margin-left: -42%;
    color: white;
    text-shadow: 2px 2px black;
  }

  .text4 {
    margin-top: -13%;
    margin-left: -42%;
    color: white;
    text-shadow: 2px 2px black;
  }

  .text3:hover {
    color: green;
  }
  
  .slide {
    width: 100%;
    /* height: 100%; */
    /* position: absolute; */
    opacity: 1;
    transition: opacity ease-in-out 0.5s;
  }

  .video {
    height: 1000px;
}

.video2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%; 
    height: auto;
    object-fit: cover;
    margin-top: -10%;
}

  /* @media screen and (max-width: 1200px){ */
  .slide img {
    width: 100%;
    height: 100%;
    }
  
  .content {
    color: black;
    /* visibility: hidden; */
  }

  .current .content {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s ease;
  }

  .content > div {
    margin-top: -5%;
  }

  .image1 {
    position: relative;
    max-height: 100%;
    top: -10px;

  }

  .image2 {
    position: relative;
    top: -600px;

  }

  .active-anim {
    opacity: .5;
  }
  
  .btn-slide {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid rgba(34, 34, 34, 0.287);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .prev {
    top: 50%;
    left: 20px;
    transform: translateY(-60%);
  }
  
  .next {
    top: 50%;
    right: 20px;
    transform: translateY(-60%);
  }
  
  .container-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }

  .dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #f1f1f1;
    margin: 0 5px;
    background: #f1f1f1;
  }
  .dot.active {
    background: rgb(32, 32, 32);
  }

  .arrow {
    width: 130%;
    height: 130%;
    background-size: 90%;
    border-radius: 50%;
  }

  .arrow:hover {
    color: rgb(255, 255, 255);
    width: 160%;
    background-color: black;
  }

@media screen and (max-width: 1404px) {
  .slider {
    height: 600px;
  }
  
}

@media screen and (max-width: 1378px) {
  .usce {
    margin-left: -10%;
  }
  
}

@media screen and (max-width: 1298px) {
  .slider {
    height: 550px;
  }
  
}

@media screen and (max-width: 1189px) {
  .slider {
    height: 525px;
  }
  
}

@media screen and (max-width: 1134px) {
  .slider {
    height: 500px;
  }
  
}

@media screen and (max-width: 1080px) {
  .slider {
    height: 475px;
  }
}

@media screen and (max-width: 1131px) {
  .text {
    font-size: 45px;
  }
}

@media screen and (max-width: 1027px) {
  .slider {
    height: 450px;
  }
}

@media screen and (max-width: 1018px) {
  .content > div {
    margin-top: -7%;
  }
  
}

@media screen and (max-width: 972px) {
  .slider {
    height: 425px;
  }
  .text2 {
    font-size: 40px;
  }
  .text3 {
    margin-left: -35%;
  }
}

@media screen and (max-width: 919px) {
  .slider {
    height: 400px;
  }
  .content > div {
    margin-top: -8%;
  }
  .click2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 864px) {
  .slider {
    height: 375px;
  }
  .text2 {
    font-size: 30px;
  }
  .text3 {
    font-size: 40px;
  }
}

@media screen and (max-width: 815px) {
  .slider {
    height: 350px;
  }
  .text3 {
    font-size: 35px;
  }
}

@media screen and (max-width: 757px) {
  .slider {
    height: 325px;
  }
}

@media screen and (max-width: 730px) {
  .text3 {
    font-size: 30px;
  }
  
}

@media screen and (max-width: 702px) {
  .slider {
    height: 300px;
  }
  .text2 {
    font-size: 25px;
  }
}

@media screen and (max-width: 650px) {
  .slider {
    height: 275px;
  }
  .prev{
    left: 5px
  }
  .next {
    right: 5px;
  }
  .dot {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 613px) {
  .text2 {
    font-size: 20px;
  }
  .text3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 594px) {
  .slider {
    height: 250px;
  }
  .button {
    padding: 10px;
  }
}

@media screen and (max-width: 541px) {
  .slider {
    height: 225px;
  }
  .button {
    font-size: 15px;
  }
  .text2 {
    font-size: 17px;
  }
  .text3 {
    font-size: 20px;
  }
}


@media screen and (max-width: 487px) {
  .slider {
    height: 200px;
  }
  .text3 {
    font-size: 17px;
  }
}

@media screen and (max-width: 464px) {
  .space {
    padding-top: 250px;
  }
  
}

@media screen and (max-width: 433px) {
  .slider {
    height: 175px;
  }
  .text2 {
    font-size: 15px;
  }
  .button {
    padding: 3px;
  }
  .text3 {
    font-size: 15px;
    margin-left: -30%;
  }
}

@media screen and (max-width: 379px) {
  .slider {
    height: 160px;
  }
  .text2 {
    font-size: 13px;
  }
  .text3 {
    margin-left: -25%;
  }
}

@media screen and (max-width: 398px) {
  .space {
   padding-top: 270px;
  }
   
}
