body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-tabs {
  border-bottom: none !important;
}

.navbar-toggler {
  border-radius: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* .navbar-toggler.collapsed {
  display: block; 
} */

.container {
  margin-left: 0 !important;
  width: auto !important;
}

.hidden {
  display: none;
}

.list {
  list-style-type: none;
}

a.nav-link.active {
  background-color: rgb(6, 71, 15) !important;
}

.socials {
  text-align: right;
  margin-right: auto;

}

.header {
  font-size: 20px;
  background-color: #008037;
  margin-right: -15px;
  padding-right: 15px;
}

.list li {
  display: inline;
  padding-right: 20px;
}

.log {
  font-size: 20px;
  font-family: 'Oswald';
}

h2 {
  font-family: 'Roboto Slab' serif;
}

.usce {
  width: 150px;
  height: 150px;
  align-items: left;
}

 a {
  text-decoration: none !important;
}

.button:hover {
  background-color: rgb(3, 141, 44);
  box-shadow: 5px 5px rgb(3, 2, 2);
  transform: translateY(0px);
}

.button:active {
  background-color: rgb(3, 141, 44);
  box-shadow: 5px 5px rgb(3, 2, 2);
  transform: translateY(4px);
}

.button {
  padding: 15px 25px;
  background-color: rgb(255, 255, 255);
}

.click {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.click:hover {
  color: black;
}

.login {
  color: white;
  margin-left: autof;
}


.about {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-size: 18px;
}

.p-3 {
  text-align: justify;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-size: 18px;
}

.items {
  display: flex;
  text-align: left;
}

h1 {
  color:rgb(8, 96, 34);
}

h2 {
  color:#1c482f;
}

.team {
  background-color: #c2dcc8;
}

.footer {
  background: radial-gradient(circle at left, rgb(64, 207, 100) 0%, rgb(3, 61, 19) 100%);
  color: white;
}

.fchild {
  display: inline-block;
  padding: 80px 80px;
  margin: 70px 70px;
  background-color: #185332;
}

@media screen and (max-width: 1000px) {
  .about {
    width: auto;
    padding: 0 1em;
  }
  .p-3 {
    width: auto;
    padding: 0 1em;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    font-size: 15px;

  }
}

@media screen and (max-width: 760px) {
  .about {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) {
  .p-3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 760px) {
  .p-3 {
    font-size: 13px;
  }
}

/* @media screen and (max-width: 1400px) {
  .usce {
    margin-right: 600px;
  }
  
} */

@media screen and (max-width: 770px) {
  .usce {
    margin-right: auto;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    /* width: 900px;  */
    margin-left: auto; 
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .nav-item {
    padding-left: 50px;
  }
} 

 @media screen and (max-width: 1400px) {
  .items {
    flex-direction: row;
  }
}

