body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-tabs {
  border-bottom: none !important;
}

@media screen and (min-width: 900px) {
  .nav-item {
    padding-left: 50px;
  }
}


@media screen and (max-width: 1400px) {
  .items {
    flex-direction: column;
  }
}


.hidden {
  display: none;
}

.list {
  list-style-type: none;
}

a.nav-link.active {
  background-color: rgb(6, 71, 15) !important;
}

.socials {
  text-align: right;
  margin-right: auto;

}

.header {
  font-size: 20px;
  background-color: #008037;
}

.list li {
  display: inline;
  padding-right: 20px;
}

.log {
  font-size: 20px;
  font-family: 'Oswald';
}

h2 {
  font-family: 'Roboto Slab' serif;
}

.usce {
  width: 150px;
  height: 150px;
  align-items: left;
}

@media screen and (min-width: 1000px) {
  .navbar {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}



/* .nav-link.active:hover {
  color: rgb(200, 86, 86);
} */

/* .nav-link.active {
  background-color: black;
} */

/* .nav-link {

 
} */

.loginsignup {
  padding-right: 300px;
}


.about {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}


/* .toggle .collapsed {
  display: flex;
  justify-content: right;
  align-items: right;
} */

.items {
  display: flex;
  text-align: left;
  
}

/* 
.navbar-collapse .collapse {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler-icon {
  display: flex;
  align-items: right;
  justify-content: right;
} */

