body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden {
  display: none;
}

.socials {
  list-style-type: none;
  position: relative;
  right: auto;
  left: 35%;
}

.usce {
  width: 150px;
  height: 150px;
  margin-right: 700px;
}

.nav-link:hover {
  color: rgb(200, 86, 86);
}

.loginsignup {
  padding-right: 300px;
}

.nav-tabs {
  display: flex;
  margin: auto;
  justify-content: space-between;
  background-color: rgb(171, 171, 171);
  height: auto;
}

.header {
  font-size: 20px;
}
