body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.nav-tabs {
  border-bottom: none !important;
}

.navbar {
  position: fixed !important;
  background-color: #008037;
  width: 100%;
  z-index: 1;
}

.navbar-toggler {
  border-radius: transparent !important;
  border-color: transparent !important;
  margin-right: 10px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.errortext {
  color: red;
  text-align: left;
}

.container {
  width: auto !important;
}

.hidden {
  display: none;
}

.list {
  list-style-type: none;
}

a.nav-link.active {
  background-color: rgb(6, 71, 15) !important;
}

.socials {
  text-align: right;
  margin-right: auto;
}

.socials > ul > li > a {
  color: #212529;
}

.socials > ul > li > a:hover {
  color: #a3b1c0;
}

.header {
  font-size: 20px;
}

.homepageinfo > h1 {
  margin-bottom: 1%;
}

.list li {
  display: inline;
  padding-right: 20px;
}

.log {
  font-size: 20px;
  font-family: 'Oswald';
}

h2 {
  font-family: 'Roboto Slab' serif;

}

.binfo {
  margin: auto;
}

.meminfo {
margin: auto;
}

.regtitles {
  display: flex;
}

.headings {
  display: flex;
}

.regbutton {
  display: block;
  width: 7%;
  margin-bottom: 1.5%;
}

.regbutton:hover {
  color: white;
}

.regbut {
  margin: 2% auto;
}

.usce {
  width: 150px;
  height: 150px;
  margin-left: 100%;
  
}

.uscefooter {
  width: 150px;
  height: 150px;
  
}

.form-control {
  max-width: 270px
}

 a {
  text-decoration: none !important;
  height: auto;
  width: auto;
}

.button:hover {
  background-color: rgb(3, 141, 44);
  box-shadow: 5px 5px rgb(3, 2, 2);
  transform: translateY(0px);
}

.button:active {
  background-color: rgb(3, 141, 44);
  box-shadow: 5px 5px rgb(3, 2, 2);
  transform: translateY(4px);
}

.button {
  padding: 15px 25px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.click {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.click:hover {
  color: black;
}

.click2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.loginerror {
  color: red;
}

.textinput {
  width: 23%;
  height: 140%;
}


.vid1 {
  margin-top: -100px;
}
/* .userlogin {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
} */

.loginbutton {
  color: white;
  margin-top: 50px;
  padding: .5rem;
  border-radius: 20%;
  background-color: #008037;
  box-shadow: 0 10px 20px -10px #000000;
  width: 5%;
}

h4 {
  display: inline;
}

.loginbutton:active {
  transform: translateY(4px);
}

.login {
  padding-top: 100px;
}

.emailbox {
  width: 80%;
  margin: auto;
}

.pl1 {
  color: black;
}

.infoform {
  width: 20%;
}


.reg1:hover {
  opacity: .6;
}

.registertitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #008037;
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 170px;

}

.about {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 4%;
}

.about > p {
  text-align: justify;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
  line-height: 1.5;
  font-size: 18px;
}

.p-3 {
  text-align: justify;
  width: 60%;
  margin: auto;
  line-height: 1.5;
  font-size: 18px;
}

.mainform {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2%;
  margin-bottom: 3%;
}

.items {
  display: flex;
  text-align: left;
}

.fgroup {
  display: inline-block;
}

.viewlog {
  padding-top: 320px;
}

.viewsign {
  margin-top: 20px;
  margin-bottom: 200px;
}

.rotatetitle {
  padding-top: 200px;
}

.status {
  color: black;
}


.footer { 
  padding: 5% 5%;
  background: radial-gradient(circle at right, rgb(49, 156, 76) 0%, rgb(3, 61, 19) 100%);
  color: white;
}

.footerabout {
  line-height: 2em;
  text-align: justify;
}

.footerabout > p {
  margin-top: 5%;
}

.footerrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footeremail {
  display: flex;
}

.footeremail > p {
  margin-left: 1%;
  margin-top: .3%;
}

.footeremail > p > a {
  color: white;
}

.footeremail >p > a:hover {
  color:rgb(30, 51, 116)
}

.emailphone {
  display: inline-block;
}

.contactinfo {
  display: flex;
}

.contactcol {
  text-align: left;
}


.footerfax {
  display: flex;

}

.footerfax > p {
  margin-left: 1%;
  margin-top: .2%;
}

.fchild {
  display: inline-block;
  padding: 5% 2% 5% 2%;
  margin: 7% 5% 5% 10%;
  background-color: #185332;
}


/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
  .items {
    flex-direction: row;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    width: auto;
    padding: 0 1em;
  }
  .p-3 {
    width: auto;
    padding: 0 1em;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    font-size: 15px;

  }
}

@media screen and (max-width: 1000px) {
  .p-3 {
    font-size: 15px;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    /* width: 900px;  */
    margin-left: auto; 
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .nav-item {
    padding-left: 50px;
  }
} 

@media screen and (max-width: 770px) {
  .usce {
    margin-right: auto;
  }
}

@media screen and (max-width: 760px) {
  .about {
    font-size: 13px;
  }
}

@media screen and (max-width: 760px) {
  .p-3 {
    font-size: 13px;
  }
}
