body {
  font-family: 'Open Sans', sans-serif;
}

.nav-tabs {
  border-bottom: none !important;
}

.navbar-toggler {
  border-radius: transparent !important;
  border-color: transparent !important;
  margin-right: 10px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* .navbar-toggler.collapsed {
  display: block; 
} */

.container {
  /* margin-left: 0 !important; */
  width: auto !important;
}

.hidden {
  display: none;
}

.list {
  list-style-type: none;
}

a.nav-link.active {
  background-color: rgb(6, 71, 15) !important;
}

.socials {
  text-align: right;
  margin-right: auto;
}

.header {
  font-size: 20px;
  background-color: #008037;
}

.list li {
  display: inline;
  padding-right: 20px;
}

.log {
  font-size: 20px;
  font-family: 'Oswald';
}

h2 {
  font-family: 'Roboto Slab' serif;

}

.registration {
  margin: 50px;
}

.binfo {
  padding: 110px;
}

.meminfo {
padding: 45px;
}

.headings {
  display: flex;
}

.regbutton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.usce {
  width: 150px;
  height: 150px;
  align-items: left;
}

.form-control {
  max-width: 250px
}

 a {
  text-decoration: none !important;
  height: auto;
  width: auto;
}

.button:hover {
  background-color: rgb(3, 141, 44);
  box-shadow: 5px 5px rgb(3, 2, 2);
  transform: translateY(0px);
}

.button:active {
  background-color: rgb(3, 141, 44);
  box-shadow: 5px 5px rgb(3, 2, 2);
  transform: translateY(4px);
}

.button {
  padding: 15px 25px;
  background-color: rgb(255, 255, 255);
  font-weight: bold;
}

.click {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.click:hover {
  color: black;
}

.click2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 120px
}

/* .login {
  color: white;
} */

.textinput {
  width: 23%;
  height: 140%;
}

.text2 {
  padding-left: 200px;
}

.text3 {
  padding-left: 140px;
}

.vid1 {
  margin-top: -100px;
}
/* .userlogin {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
} */

.loginbutton {
  color: white;
  margin-top: 50px;
  padding: .5rem;
  border-radius: 20%;
  background-color: #008037;
  box-shadow: 0 10px 20px -10px #000000;
}

h4 {
  display: inline;
}

.loginbutton:active {
  transform: translateY(4px);
}

.emailbox {
  width: 80%;
  margin: auto;
}

.pl1 {
  color: black;
}

.userform {
  width: 20%;
  display: inline-block;
}

.infoform {
  width: 20%;
  display: inline-block;
}

/* .countbox {
  width: 200%  !important;
} */



.reg1:hover {
  opacity: .6;
}

/* .loginbutton:hover {
  transform: translateX(-2px);
} */

.about {
  text-align: justify;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-size: 18px;
}

.p-3 {
  text-align: justify;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  font-size: 18px;
}

.mainform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  display: flex;
  text-align: left;
}

.fgroup {
  display: inline-block;
}

.status {
  color: black;
}

.team {
  background-color: #c2dcc8;
}

.footer {
  background: radial-gradient(circle at left, rgb(64, 207, 100) 0%, rgb(3, 61, 19) 100%);
  color: white;
}

.fchild {
  display: inline-block;
  padding: 5% 2% 5% 2%;
  margin: 7% 5% 5% 10%;
  background-color: #185332;
}

@media screen and (max-width: 1000px) {
  .about {
    width: auto;
    padding: 0 1em;
  }
  .p-3 {
    width: auto;
    padding: 0 1em;
  }
}

@media screen and (max-width: 1000px) {
  .about {
    font-size: 15px;

  }
}

@media screen and (max-width: 760px) {
  .about {
    font-size: 13px;
  }
}

@media screen and (max-width: 1000px) {
  .p-3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 760px) {
  .p-3 {
    font-size: 13px;
  }
}

/* @media screen and (max-width: 1400px) {
  .usce {
    margin-right: 600px;
  }
  
} */

@media screen and (max-width: 770px) {
  .usce {
    margin-right: auto;
  }
}

@media screen and (min-width: 1000px) {
  .navbar {
    /* width: 900px;  */
    margin-left: auto; 
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .nav-item {
    padding-left: 50px;
  }
} 

 @media screen and (max-width: 1400px) {
  .items {
    flex-direction: row;
  }
}

